.How {
  top: 70px;
  position: relative;
  height: 100%;
  z-index: -2;
  background-image: url(./assets/hong kong.jpg);
  background-size: 100% auto;
  display: table;
}


.How .Howinside {
  position: static;
  border-style: solid;
  border-radius: 10px;
  border-color: lightslategrey;
  border-width: medium;
  padding: 10px;
  width: 80%;
  background-color: rgba(200, 200, 250, 0.9);
  margin: 20px auto 0px auto;
  word-wrap: break-word;
  text-align: justify;
  height: auto;
}